@import url(./vendor/normalize.css);
@import url(./vendor/fonts.css);

.page {
  max-width: 100%;
  margin: 0;
  background-color: #141414;
  color: rgb(255, 255, 255);
  font-family: Inter, sans-serif;
}

.page__content {
  min-height: 100vh;
  position: relative;
  background-image: radial-gradient(
    circle farthest-corner at 100% 0%,
    rgba(225, 0, 0, 0.2),
    rgba(20, 20, 20, 0.2) 75%
  );
}

.page__section {
  border-bottom: solid 1px rgba(225, 0, 0, 0.2);
}

.page__section-content {
  max-width: 1880px;
  margin: 0 auto;
}
